
.assignment-item {
      margin-bottom: 10px;
      padding: 10px;
      background-color: #7acaff;
      border-radius: 4px;
      cursor: pointer;
      width:60%;
      /* center horizontally on page */
      margin-left: auto;
      margin-right: auto;
      /* center text horizontally within div */
      text-align: center;
    }

    .assignment-item:hover {
      background-color: #66b3ff;
    }

    .assignment-item h3 {
      margin: 0;
      font-size: 18px;
    }

    .assignment-item p {
      margin: 5px 0 0;
      font-size: 14px;
    }

    /* #assignmentList {
      
    } */

    body{
      background-image: url('/static/media/Asnmtbgt.png'); /* URL of the background image */
      background-size: cover; /* Cover the entire page */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
    }