#chat-box {
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: scroll;
}

#message-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.message {
  background-color: #f2f2f2;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.sender {
  font-weight: bold;
}

#input-container {
  display: flex;
  margin-top: 10px;
}

#message-input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#send-button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}


#refresh-chat {
  background-color: lightblue; /* Light grey background */
  border: none; /* Remove default border */
  padding: 2px 2px; /* Padding around the text */
  font-size: 24px; /* Increase emoji size */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions for background and transform */
}

/* Hover effect */
#refresh-chat:hover {
  background-color: greenyellow; /* Darker grey on hover */
  transform: rotate(180deg); /* Rotate button 180 degrees */
}

#uploadLabel {
  display: inline-block;
  padding: 0px;
  font-size: 20px;
  background-color: white;
  color: white;
}

#clear {
  /* There should be no background or padding at all, just the emoji */
  background-color: transparent;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  border: none;
}