
/* styles for user bubbles */
.user-bubble {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: green;
    border-radius: 20px;
    cursor: pointer;
}

.user-bubble:hover {
    background-color: turquoise;
}
#formContainer {
  margin-top: 20px;
}

#assignmentForm {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="date"] {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-top: 5px;
}
#createBtn {
  padding: 10px 20px;
  background-color: #337ab7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#createBtn:hover {
  background-color: #286090;
}

#openNB {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#openNB:hover {
  background-color: #0d366b;
}


.assignment-item {
      margin-bottom: 10px;
      padding: 10px;
      background-color: #f5f5f5;
      border-radius: 4px;
      cursor: pointer;
    }

    .assignment-item:hover {
      background-color: #e0e0e0;
    }

    .assignment-item h3 {
      margin: 0;
      font-size: 18px;
    }

    .assignment-item p {
      margin: 5px 0 0;
      font-size: 14px;
    }

    .container {
      display: flex;

    }
    
    #classimgcontainer {
      /* Set width to auto and height to 200px */
      height: 200px;
      overflow: hidden; /* Ensure the image doesn't overflow */
    }
    
    #classimgcontainer img {
      /* Set height to 100% to fill container, and let width adjust accordingly */
      height: 100%;
      width: auto;
    }

    #head {
      flex-grow: 1; /* Allow the head div to grow and take remaining space */
    }
    
    #joinBtn {
      padding: 10px 20px;
      background-color: #337ab7;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      display: none;
    }