#class-form {
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  background-color:#d4dadb;
  padding: 20px;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

button {
  margin-top: 10px;
}

button {
  background-color: #558f2c;
  border-radius: 5px;
  color: white;
  padding: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2c7e8f;
}
#error-message {
  color: red;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}



#selected-classes {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

#selected-classes li {
  margin-bottom: 5px;
}

.box {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.lightbulb {
  width: 30px;
  height: 30px;
  background-color: #ffd700;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
h1 {
  color: #333;
}

.custom-checkbox{
  background-color: darkgray; /* Dark gray background */
  border-radius: 5px; /* Rounded corners */
  padding: 5px; /* Padding around the text and checkbox */
  display: inline-block; /* Allows the label to wrap the text and checkbox neatly */
  margin-top: 5px; /* Add some space between the checkboxes */
  margin-bottom: 5px; /* Add some space between the checkboxes */
  margin-left: 5px; /* Add some space between the checkboxes */
  margin-right: 5px; /* Add some space between the checkboxes */
}


.goal {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

#StatsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Ensures two columns */
  gap: 20px; /* Space between columns and rows */
  padding: 20px; /* Padding around the entire grid */
  box-sizing: border-box; /* Ensures padding does not affect width calculation */
  width: 100%; /* Ensures the grid takes up the full width of the container */
}


.number-box {
  background: #f4f4f4; /* Light grey background for visibility */
  padding: 20px;
  /* text-align: center; */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds subtle shadow for depth */
  width: 40%; /* Ensures the box takes up the full width of the column */
}

.number {
  font-size: 48px;
  font-weight: bold;
  margin: 10px 0;
}

.caption {
  font-size: 16px;
}

h2 {
  font-size: 24px;
  margin: 10px 0;
}

