/* Main section styles */
/* Parent container */
.container {
  margin-top: 100px; /* Space for the fixed header */
  padding: 50px;
  text-align: center; /* Center the text */
  font-family: 'Roboto', sans-serif;
  display: flex; /* Use flexbox to center content vertically */
  flex-direction: column; /* Arrange content in a column */
  justify-content: center; /* Center vertically */
  position: relative; /* Needed for the pseudo-element positioning */
}

/* Pseudo-element for the background */
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 425px; /* Height of the repeating background */
  background-image: url('Spider.png');
  background-repeat: repeat;
  background-size: 150px;
  z-index: -1; /* Ensure it's behind the content */
}


h1 {
  font-size: 48px; /* Increase font size for h1 */
  color: rgb(18, 74, 5);
  margin-top: 0; /* Ensure no top margin for h1 */
}

p {
  font-size: 24px; /* Increase font size for paragraphs */
  color: black; /* Set text color to white */
  margin-top: 0; /* Ensure no top margin for paragraphs */
}

.btn {
  background-color: #58cf39; /* Change button color */
  color: white; /* Set text color to white */
  padding: 12px 25px; /* Increase padding for better button appearance */
  border: none;
  border-radius: 25px; /* Increase border radius for a more rounded look */
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease; /* Smooth transition */
  width: 150px;
  /* center hoizontally on page */
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  background-color: #00660f; /* Darken on hover */
}

.myptag{
  color: black;
  background-color: yellow;
  font-size: 24px;
  padding: 20px;
  margin-top: 0;
  
}
/* add hover animation */
.myptag:hover {
  background-color: #f1f1f1;
  transform: scale(1.1);
}