/* Form styles */
form {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#demo {
  background-color: lightblue; /* Light blue background */
  color: white; /* White text color */
  padding: 10px 20px; /* Top and bottom padding of 10px, left and right padding of 20px */
  border: none; /* No border */
  cursor: pointer; /* Cursor changes to pointer when hovering over the button */
  font-size: 16px; /* Text size */
  transition: background-color 0.3s; /* Smooth transition for background color change */
}

#demo:hover {
  background-color: black; /* Black background on hover */
}

/* Slider styles */
.slider {
  position: relative;
  width: 120px;
  height: 34px;
  background-color: #3ec1f9;
  border-radius: 17px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.slider-text {
  position: absolute;
  top: 50%;
  width: 100%;
  left:25%;
  text-align: center;
  transform: translateY(-50%);
  font-size: 16px;
  color: white;
  pointer-events: none;
  user-select: none;
}
.slider-text.left {
  left: 25%;  /* Position text more to the left */
}
.slider-text.right {
  left: -25%;  /* Position text more to the right */
}
.slider:before {
  position: absolute;
  content: '';
  width: 50px;
  height: 30px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 15px;
  transition: 0.2s;
}
.slider.on {
  background-color: #4CAF50;
}
.slider.on:before {
  transform: translateX(65px);
}
