body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.container {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 250px;
  background-color: #2d2d2d;
  padding: 20px;
  overflow-y: auto;
  transition: width 0.3s ease;
}

#sidebar.collapsed {
  width: 50px;
}

#content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

#content.expanded {
  margin-left: -200px;
}

.class-item {
  margin-bottom: 10px;
  cursor: pointer;
}

.class-item h3 {
  margin-bottom: 5px;
}

.worksheet-item {
  background-color: #2d2d2d;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

button {
  background-color: rgb(228, 76, 101);
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
}

#toggle-sidebar {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}



.unit-item {
    margin-left: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

.unit-item h4 {
    margin-bottom: 3px;
}

.units-container {
    margin-top: 10px;
}



.create-unit {
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.create-unit:hover {
    background-color: #45a049;
}