.profile-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.profile-label {
  flex-basis: 120px;
  font-weight: bold;
  color: var(--heading-color);
}

.profile-input {
  flex-grow: 1;
  padding: 5px;
  border: solid 1px var(--border-color);
  border-radius: 4px;
  background-color: var(--input-bg);
  color: var(--text-color);
}

.profile-user-input {
  visibility: hidden;
  position: absolute;
}

.profile-edit-button,
.profile-submit-button {
  width: 60px;
  margin-left: 10px;
  padding: 5px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.profile-edit-button {
  background-color: var(--accent-color);
}

.profile-submit-button {
  background-color: #28a745;
  visibility: hidden;
}

#logout {
  display: inline-block;
  background-color: transparent;
  color: var(--accent-color);
  border: solid 1px var(--accent-color);
  border-radius: 4px;
  padding: 0 2.25em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#logout:hover {
  background-color: var(--accent-color);
  color: #ffffff;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tablinks {
  padding: 10px;
  background-color: var(--input-bg);
  border-radius: 4px;
  cursor: pointer;
  color: var(--text-color);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.tablinks.active {
  background-color: var(--accent-color);
  color: #fff;
}

.tabcontent {
  display: none;
  padding: 20px;
  background-color: var(--input-bg);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 40%;
}

.tabcontent.active {
  display: block;
}

.friend {
  border: 1px solid var(--border-color);
  transition: background-color 0.2s ease-in-out;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.friend:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.accept {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  margin: 1px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.accept:hover {
  background-color: #218838;
}

#search-bar {
  padding: 10px;
  border-radius: 4px;
  border: solid 1px var(--border-color);
  margin-bottom: 20px;
  width: 100%;
  background-color: var(--input-bg);
  color: var(--text-color);
}

.search-result {
  border: 1px solid var(--border-color);
  background-color: rgba(255, 255, 255, 0.05);
  transition: background-color 0.2s ease-in-out;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  cursor: pointer;
}

.search-result:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#profilePicturePreview {
  display: none;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid var(--accent-color);
}

#pencil {
  position: absolute;
  top: 200px;
  left: calc(50vw + 75px);
  display: none;
  background-color: var(--accent-color);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#pencil:hover {
  background-color: #d14;
}
