/* add styles to all elements of ai class*/
.ai {
  background-color: green;
  color: black;
  border-radius: 10px;
  width: 80%;
  padding: 20px;
  margin-top: 10px;
}
.user_div {
  background-color: lightblue;
  color: black;
  border-radius: 10px;
  width: 70%;
  padding: 20px;
  margin-top: 10px;
}
.user_input {
  border: none;
    background: none;
    outline: none; /* Remove the default focus outline */
    padding: 0; /* Remove padding if needed */
    margin: 0; /* Remove margin if needed */
    width: 100%; /* Optional: Make the input box expand to fill the div horizontally */
  
}