/* add styles to all elements of ai class*/
.ai {
  background-color: green;
  color: black;
  border-radius: 10px;
  width: 80%;
  padding: 20px;
  margin-top: 10px;
}
.user_div {
  background-color: lightblue;
  color: black;
  border-radius: 10px;
  width: 70%;
  padding: 20px;
  margin-top: 10px;
}
.user_input {
  border: none;
    background: none;
    outline: none; /* Remove the default focus outline */
    padding: 0; /* Remove padding if needed */
    margin: 0; /* Remove margin if needed */
    width: 100%; /* Optional: Make the input box expand to fill the div horizontally */
  
}

body {
  background-image: url('/static/media/SBbgd.png'); /* URL of the background image */
  background-size: cover; /* Cover the entire page */
  /* background-position: center; Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.common_button{
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display as a block element */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Add some margin */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  border-radius: 10px; /* Rounded corners */
  padding: 10px 24px; /* Add some padding */
}