<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/chatBox.css">
<link rel="stylesheet" href="/static/navbar.css">
<head>
    <title>SciWeb {{ assignment_name }}</title>
    <link rel="icon" href="/static/media/favicon.png" type="image/x-icon">
    <link rel="manifest" href="/static/manifest.json">
</head>
<body>
  <ul class="navbar">
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <button class="dropdown-btn">Achieve</button>
      <div class="dropdown-content">
        <a href="/EnterGrades">Enter</a>
        <a href="/GradeAnalysis">Analyse</a>
        <a href="/Goals">Goals</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Study</button>
      <div class="dropdown-content">
        <a href="#">Write</a>
        <a href="/Study">Study</a>
        <a href="#">Predict</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Connect</button>
      <div class="dropdown-content">
        <a href="/Classes">Classes</a>
        <a href="/Assignments">Assignments</a>
        <a href="/Leagues">Leagues</a>
        <a href="#">Questions</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">About</button>
      <div class="dropdown-content">
        <a href="/Pitch">Pitch</a>
        <a href="/GetStart">Getting Started</a>
      </div>
    </li>
    <li><a href="/Login" id="profile">Login</a></li>
  </ul>

  <h1>{{ assignment_name }} Assignment Page</h1>
  <h3 id="description"></h3>
  <p id="class-name"></p>
  <p id="due-date"></p>
  <p id="points"></p>
  <p id="categories"></p>

  <br>
  <h2>Assignment Score modeler:</h2>
  <input type="range" id="slider" min="40" max="100" value="50">
  <p id="slider-value">If score is: 90</p>
  <p id="category-impact">+0.0%</p>
  <p id="class-impact">+0.0%</p>

  <h2>Time Stats:</h2>
  <p>Percent Completion:</p>
  <input type="range" id="percent-completion" min="0" max="100" value="0">
  
  <p>Time Spent:</p>
  <input type="range" id="time-spent" min="0" max="100" value="0">
  
  <p>Difficulty:</p>
  <input type="range" id="difficulty" min="0" max="100" value="0">
  
  <button id="update-button" style="margin-top: 10px;">Update</button>
  
  <p id="avg-difficulty">Average Difficulty: 0.0</p>
  <p id="avg-percent-completion">Average Percent Completion: 0.0%</p>
  <p id="avg-time-spent">Average Time Spent: 0.0 hours</p>

  <div id="chat-box">
    <button id="refresh-chat">🔄</button>
    <ul id="message-list"></ul>
    <div id="image-container"></div>
    <div id="input-container">
      <input type="text" id="message-input" placeholder="Type your message...">
      <button id="clear">❌</button>
      <button id="send-button">Send</button>
      <input type="file" id="upload" style="display: none;">
      <label for="upload" id="uploadLabel">📁</label>
    </div>
    <div id="loadingWheel"></div>
  </div>

  <script>
    var assignmentData = JSON.parse('{{ assignment_data|tojson|safe }}');
    var locationData = assignmentData;
  </script>
  <script src="/static/util.js"></script>
  <script src="/static/user_data.js"></script>
  <script src="/static/chatBox.js"></script>
  <script src="/static/assignment.js"></script>
</body>
</html>