{% extends "darkThemeTemplate.html" %}

{% block title %}
<title>SciWeb | Battle</title>
{% endblock %}

<!-- css block -->
{% block css %}
<link rel="stylesheet" href="/static/Battle.css">
{% endblock %}

{% block content %}
    <div class="battle-container">
        <canvas id="battleCanvas"></canvas>
        
        <div id="gameInterface">
            <div id="playersList"></div>
            
            <div id="questionArea">
                <div id="questionText"></div>
                <div id="answerOptions"></div>
                <div id="timer"></div>
            </div>
            
            <div id="scoreBoard"></div>
        </div>
        
        <div id="gameControls">
            <button id="readyButton">Ready</button>
            <button id="leaveGame">Leave Game</button>
        </div>
    </div>
{% endblock %}

<!-- js block -->
{% block js %}
 <script src="/static/Battle.js" type="module"></script>
{% endblock %}

