{% extends "darkThemeTemplate.html" %}

{% block title %}
<title>SciWeb | Battle</title>
{% endblock %}

<!-- css block -->
{% block css %}
<link rel="stylesheet" href="/static/Battle.css">
{% endblock %}

{% block content %}
<div id="game-container"></div>
{% endblock %}

<!-- js block -->
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/phaser@3.60.0/dist/phaser.min.js"></script>
<!-- mathjax -->
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
    window.MathJax = {
        tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] },
    };
</script>
 <script src="/static/Battle.js" type="module"></script>
{% endblock %}

