{% extends "darkThemeTemplate.html" %}

<!-- title block -->
{% block title %}
<title>SciWeb | Classes</title>
{% endblock %}

<!-- css block -->
{% block css %}
<link rel="stylesheet" href="/static/Classes.css">
{% endblock %}

{% block content %}
<h1>My Classes</h1>
<p>Planning next year's courses? Try out our <a href="/CourseSelection" target="_blank">Course Selection Tool</a></p>
<div id="classList">
    <!-- The placeholder class has been removed -->
    <!-- Classes will be dynamically added here by JavaScript -->
</div>
<button id="joinButton" class="button">Join or Create Class</button>
<form id="classForm" style="display: none;">
    <div class="row gtr-uniform">
        <div class="col-6 col-12-xsmall">
            <label for="periodInput">Period:</label>
            <input type="number" id="periodInput" autocomplete="off">
        </div>
        <div class="col-6 col-12-xsmall">
            <label for="teacherInput">Teacher:</label>
            <input type="text" id="teacherInput" autocomplete="off">
            </div>
        <div class="col-12">
            <label for="nameInput">Class Name:</label>
            <input type="text" id="nameInput" autocomplete="off">
            </div>
        <div class="col-12">
            <label for="categories">Grading Categories:</label>
            <input type="text" id="categories" placeholder="ex. Participation: 20%, Assessments: 60%, Homework: 20%">
            </div>
        <div class="col-12">
            <ul id="classOptions"></ul>
            </div>
        <div class="col-12">
            <input type="submit" value="Submit" class="primary">
            </div>
    </div>
</form>
{% endblock %}

<!-- js block -->
{% block js %}
<script src="/static/Classes.js"></script>
{% endblock %}
    