<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://sciweb.c26pn.repl.co/static/class.css">
<head>
  
    <title>Class {{ class_name }}</title>
</head>
<body>
  <ul class="navbar">
    <li><a href="#">Home</a></li>
    <li class="dropdown">
      <button class="dropdown-btn">Grades</button>
      <div class="dropdown-content">
        <a href="/EnterGrades">Enter</a>
        <a href="/GradeAnalysis">Analyse</a>
        <a href="/GradeAnalysis">Goals</a>
        
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Study</button>
      <div class="dropdown-content">
        <a href="#">Create</a>
        <a href="#">Study</a>
        <a href="#">Predict</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Connect</button>
      <div class="dropdown-content">
        <a href="/Classes">Classes</a>
        <a href="#">Assignments</a>
        <a href="#">Leagues</a>
        <a href="#">Questions</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">About</button>
      <div class="dropdown-content">
        <a href="/Pitch">Pitch</a>
        <a href="#">Getting Started</a>
        
      </div>
    </li>
    <li><a href="/Login" id="Islink">Login</a></li>
  </ul>
    <h1>Welcome to {{ class_name }}</h1>
    <div id="user-list"></div>
    <br>
    
    <!-- Add any additional HTML content here -->
  
  <script>

const classData = JSON.parse('{{ class_data|tojson|safe }}');

  </script>
  <script src="/static/class.js"></script>
  
</body>
</html>