<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="static/CourseSelection.css">
<link rel="stylesheet" href="static/navbar.css">

<head>
  <title>SciWeb Course Selection</title>
  <link rel="icon" href="static/media/favicon.png" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <ul class="navbar">
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <button class="dropdown-btn">Achieve</button>
      <div class="dropdown-content">
        <a href="/EnterGrades">Enter</a>
        <a href="/GradeAnalysis">Analyse</a>
        <a href="/Goals">Goals</a>
        
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Study</button>
      <div class="dropdown-content">
        <a href="#">Write</a>
        <a href="/Study">Study</a>
        <a href="#">Predict</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Connect</button>
      <div class="dropdown-content">
        <a href="/Classes">Classes</a>
        <a href="/Assignments">Assignments</a>
        <a href="#">Leagues</a>
        <a href="#">Questions</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">About</button>
      <div class="dropdown-content">
        <a href="/Pitch">Pitch</a>
        <a href="/GetStart">Getting Started</a>
        
      </div>
    </li>
    <li><a href="/Login" id="profile">Login</a></li>
  </ul>
  <main>
    <h1>Course Selection</h1>
    <br><br>
    <div id="all">
    <div id="schedule">
    <div id="per1" class="period">Period 1: Drop Class Here</div>
    <div id="per2" class="period">Period 2: Drop Class Here</div>
    <div id="per3" class="period">Period 3: Drop Class Here</div>
    <div id="per4" class="period">Period 4: Drop Class Here</div>
    <div id="per5" class="period">Period 5: Drop Class Here</div>
    <div id="per6" class="period">Period 6: Drop Class Here</div>
    <div id="per7" class="period">Period 7: Drop Class Here</div>
    <div id="per8" class="period">Period 8: Drop Class Here</div>
    <div id="per9" class="period">Period 9: Drop Class Here</div>
</div>
    <div id="classes">
        <input id="search" type="text" placeholder="Search for classes...">
        <p>   Search Results</p>
        <div id="searchResults"></div>
        <p>   Recommended</p>
        <div id="classList"></div>
    </div>
</div>
  </main>
  
<script src="/static/user_data.js"></script>
<script src="/static/CourseSelection.js"></script>


</body>

</html>