{% extends "darkThemeTemplate.html" %}

<!-- title block -->
{% block title %}
<title>SciWeb | Course Selection</title>
{% endblock %}

<!-- css block -->
{% block css %}
<link rel="stylesheet" href="/static/CourseSelection.css">
{% endblock %}

{% block content %}
    <h1>Course Selection</h1>
    <br><br>
    <div id="all">
    <div id="schedule">
    <div id="per1" class="period">Period 1: Drop Class Here</div>
    <div id="per2" class="period">Period 2: Drop Class Here</div>
    <div id="per3" class="period">Period 3: Drop Class Here</div>
    <div id="per4" class="period">Period 4: Drop Class Here</div>
    <div id="per5" class="period">Period 5: Drop Class Here</div>
    <div id="per6" class="period">Period 6: Drop Class Here</div>
    <div id="per7" class="period">Period 7: Drop Class Here</div>
    <div id="per8" class="period">Period 8: Drop Class Here</div>
    <div id="per9" class="period">Period 9: Drop Class Here</div>
        </div>
        <div id="classes">  
            <input id="search" type="text" placeholder="Search for classes...">
            <p>   Search Results</p>
            <div id="searchResults"></div>
            <p>   Recommended</p>
            <div id="classList"></div>
    </div>
    </div>
{% endblock %}

<!-- js block -->
{% block js %}
<script src="/static/CourseSelection.js"></script>
{% endblock %}