<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>SciWeb Enter Grades</title>
  <link rel="icon" href="static/media/favicon.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/EG.css">
  <link rel="stylesheet" href="/static/navbar.css">
</head>

  

<body>
  <ul class="navbar">
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <button class="dropdown-btn">Achieve</button>
      <div class="dropdown-content">
        <a href="/EnterGrades">Enter</a>
        <a href="/GradeAnalysis">Analyse</a>
        <a href="/Goals">Goals</a>
        
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Study</button>
      <div class="dropdown-content">
        <a href="#">Write</a>
        <a href="/Study">Study</a>
        <a href="#">Predict</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Connect</button>
      <div class="dropdown-content">
        <a href="/Classes">Classes</a>
        <a href="/Assignments">Assignments</a>
        <a href="#">Leagues</a>
        <a href="#">Questions</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">About</button>
      <div class="dropdown-content">
        <a href="/Pitch">Pitch</a>
        <a href="/GetStart">Getting Started</a>
        
      </div>
    </li>
    <li><a href="/Login" id="profile">Login</a></li>
  </ul>

  <main>
    <div id="loadingWheel"></div>
    <h1>Enter Grades</h1>
    <p>Pull your grades directly from Jupiter, or enter/edit them manually</p>
    <br>
    <input type="number" id="osis" placeholder="OSIS"></input><br>
    <input type="password" id="password" placeholder="Jupiter Password"></input><br>
    <p>By pulling grades from Jupiter, you agree to our <a target="_blank" href="https://docs.google.com/document/d/1lhb14Q6I_U5Tj7EFQUM2bF0cNlkBF_6_4zce6fF70L0/edit?usp=sharing">Terms and Conditions</a></p>
    <button id="Jupull">Pull from Jupiter</button>
    <button id="DeleteGrades">Delete Saved Grades</button>
    <!-- get user osis number -->
    <br><br><br><br>
    
    
    <form id='gradeform'>
      
 <table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Score</th>
      <th>Value</th>
      <th>Class</th>
      <th>Category</th>
      <th>Name</th> <!-- New column -->
    </tr>
  </thead>
  <tbody id="mytbody">
    <tr>
      <td><input type="date" name="date1" id="pastedcn"></td>
      <td><input type="number" name="score1"></td>
      <td><input type="number" name="value1"></td>
      <td>
        <select id="class1">
          <option value=""></option>
          <option value="default">Classes loading, please wait</option>
        </select>
      </td>
      <td>
        <select id="category1">
          <option value=""></option>
          <option value="default">Please select class first</option>
          
        </select>
      </td>
      <td><input type="text" name="name1"></td> <!-- New column cell -->
    </tr>
<!-- --------------- -->
    <tr>
      <td><input type="date" name="date2" id="pastedcn"></td>
      <td><input type="number" name="score2"></td>
      <td><input type="number" name="value2"></td>
      <td>
        <select id="class2">
          <option value=""></option>
          <option value="default">Classes loading, please wait</option>
        </select>
      </td>
      <td>
        <select id="category2">
          <option value=""></option>
          <option value="default">Please select class first</option>
          
        </select>
      </td>
      <td><input type="text" name="name2"></td> <!-- New column cell -->
    </tr>
    <!-- ----------- -->
    <tr>
      <td><input type="date" name="date3" id="pastedcn"></td>
      <td><input type="number" name="score3"></td>
      <td><input type="number" name="value3"></td>
      <td>
        <select id="class3">
          <option value=""></option>
          <option value="default">Classes loading, please wait</option>
        </select>
      </td>
      <td>
        <select id="category3">
          <option value=""></option>
          <option value="default">Please select class first</option>
          
        </select>
      </td>
      <td><input type="text" name="name3"></td> <!-- New column cell -->
    </tr>
    <tr>
      <td><input type="date" name="date4" id="pastedcn"></td>
      <td><input type="number" name="score4"></td>
      <td><input type="number" name="value4"></td>
      <td>
        <select id="class4">
          <option value=""></option>
          <option value="default">Classes loading, please wait</option>
        </select>
      </td>
      <td>
        <select id="category4">
          <option value=""></option>
          <option value="default">Please select class first</option>
          
        </select>
      </td>
      <td><input type="text" name="name4"></td> <!-- New column cell -->
    </tr>
<!-- ----------- -->
    <tr>
      <td><input type="date" name="date5" id="pastedcn"></td>
      <td><input type="number" name="score5"></td>
      <td><input type="number" name="value5"></td>
      <td>
        <select id="class5">
          <option value=""></option>
          <option value="default">Classes loading, please wait</option>
        </select>
      </td>
      <td>
        <select id="category5">
          <option value=""></option>
          <option value="default">Please select class first</option>
          
        </select>
      </td>
      <td><input type="text" name="name5"></td> <!-- New column cell -->
    </tr>
  </tbody>
</table>

      <button type="submit">Submit</button>
    </form>
<table id="gradesTable">
    <thead>
      <tr>
        <th>Date</th>
        <th>Score</th>
        <th>Value</th>
        <th>Class</th>
        <th>Category</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="gradesBody">
      <!-- Grades rows will be dynamically added here -->
    </tbody>
  </table>

<script src="/static/user_data.js"></script>
<script src="static/EG.js" type="module"></script>
<!-- <script src="/src/index.js"></script> -->
<!-- <script src="{{ url_for('static', filename='dist/index.js') }}"></script> -->
  </main>
</body>
  </html>
  