{% extends "darkThemeTemplate.html" %}

<!-- title block -->
{% block title %}
<title>SciWeb | Getting Started</title>
{% endblock %}

<!-- content block -->
{% block content %}
<h1>Getting Started</h1>
<br>
<h3>To get started, you will need to create an account. To do this, click the <a href="/Login">Login</a> button at the top of the page. Once you have logged in, you can join your classes or create new classes, enter your grades, and analyse your grades. </h3>
<br>
<h3>To try out the tools, you can also try out the demo account by <a href="/Login">Logging in</a> and clicking the use demo account button. This will give you demo data for you to try out the various tools that SciWeb offers</h3>
{% endblock %}

