{% extends "darkThemeTemplate.html" %}

{% block title %}
<title>SciWeb | Goals</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/Goals.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}

{% block content %}
<div class="goal-container">
    <header>
        <h2>Set Your Long Term Goals</h2>
        <p>Enter your aspirations and let us help you break them down into actionable steps.</p>
    </header>
    <div id="aspirations-container"></div>
    <div id="chat-box">
        <div id="chat-log-div"></div>
        <input type="text" id="user-input-field" placeholder="Type your response here..." />
        <button id="send-response">Send</button>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/static/Goals.js"></script>
{% endblock %}
