<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Grade Analysis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/GA.css">
</head>

<body>
  <ul class="navbar">
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <button class="dropdown-btn">Grades</button>
      <div class="dropdown-content">
        <a href="/EnterGrades">Enter</a>
        <a href="/GradeAnalysis">Analyse</a>
        <a href="/GradeAnalysis">Goals</a>
        
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Study</button>
      <div class="dropdown-content">
        <a href="#">Create</a>
        <a href="#">Study</a>
        <a href="#">Predict</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Connect</button>
      <div class="dropdown-content">
        <a href="#">Classes</a>
        <a href="#">Assignments</a>
        <a href="#">Leagues</a>
        <a href="#">Questions</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">About</button>
      <div class="dropdown-content">
        <a href="#">Pitch</a>
        <a href="#">Getting Started</a>
        
      </div>
    </li>
    <li><a href="/Login" id="Gslink">Login</a></li>
  </ul>

  <main>
    <h1>Grade Analysis</h1>

   
    <br>
    
    
      
      
    </form>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <canvas id="myChart"></canvas>

  </main>

  <footer>
    <p>&copy; 2023 My Web Page</p>
  </footer>

  <script src="static/GA.js"></script>
</body>

</html>