<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>SciWeb Grade Analysis</title>
  <link rel="icon" href="static/media/favicon.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/GA.css">
  <link rel="stylesheet" href="/static/navbar.css">
  <link rel="manifest" href="/static/manifest.json">

</head>


<body>
  <ul class="navbar">
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <button class="dropdown-btn">Achieve</button>
      <div class="dropdown-content">
        <a href="/EnterGrades">Enter</a>
        <a href="/GradeAnalysis">Analyse</a>
        <a href="/Goals">Goals</a>
        
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Study</button>
      <div class="dropdown-content">
        <a href="/StudyLevels">Levels</a>
<a href="/StudyBot">StudyBot</a>
<a href="/Evaluate">Evaluate</a>
<a href="/Battle">Battle</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Connect</button>
      <div class="dropdown-content">
        <a href="/Classes">Classes</a>
        <a href="/Assignments">Assignments</a>
        <a href="/Leagues">Leagues</a>
        <a href="#">Questions</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">About</button>
      <div class="dropdown-content">
        <a href="/Pitch">Pitch</a>
        <a href="/GetStart">Getting Started</a>
        
      </div>
    </li>
    <li><a href="/Login" id="profile">Login</a></li>
  </ul>
  <div id="notification-container"></div>

  <main>
    
    <h1>Grade Analysis</h1>
    
    <br>
    <!-- element for error text, give red inline styling -->
    <p id="error" style="color: red;"></p>
    </form>
    <br>



    <div class="carousel-container">
      <div class="carousel" id="crs">
          <!-- <img src="https://via.placeholder.com/800x400?text=Image+1" alt="Image 1">
          <img src="https://via.placeholder.com/800x400?text=Image+2" alt="Image 2">
          <img src="https://via.placeholder.com/800x400?text=Image+3" alt="Image 3">
          <img src="https://via.placeholder.com/800x400?text=Image+4" alt="Image 4"> -->
      </div>
      <button class="arrow left" onclick="moveSlide(-1)">&#10094;</button>
      <button class="arrow right" onclick="moveSlide(1)">&#10095;</button>
      <div class="dots">
          <span class="dot" onclick="currentSlide(0)"></span>
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
      </div>
  </div>
  <br>



    
    <div id="myGraph"></div>
    <div id="myHisto"></div>
    <br><br>
    

    <div id="loadingWheel"></div>
   <form id="class-form">
  <h2>Select Classes/Categories to Graph</h2>
  <div id="checkbox-group">
  <div id='classes'>
    <label class="custom-checkbox">
      All
    <input type="checkbox" name="class" value="all"> 
    </label>
  </div>
    <br>
  <div id='categories'>
    <label class="custom-checkbox">
      All
      <input type="checkbox" name="class" value="All">
    </label>
  </div>
  </div>
  <input type="range" id="mySlider" name="mySlider" min="0" max="30" value="15">
  <button type="submit">Graph</button>
  <h1 id="error-message"></h1>
</form>
    <br>
    <div id="StatsContainer">
      <div class="number-box">
        <h2>GPA</h2>
        <p class="number" id="s1">--</p>
        <p class="caption">As it appears on report card</p>
    </div>
    <div class="number-box">
        <h2>Raw Avg</h2>
        <p class="number" id="s2">--</p>
        <p class="caption">More volatile and exact</p>
    </div>
    <div class="number-box">
        <h2>Recent Change</h2>
        <p class="number" id="s3">--</p>
        <p class="caption">Raw average change over the past 30 days</p>
    </div>
    <div class="number-box">
        <h2>Most Improved</h2>
        <p class="number" id="s4">--</p>
        <p class="caption">Class with largest grade increase over the past 30 days</p>
    </div>
    <div class="number-box">
        <h2>Focus On...</h2>
        <p class="number" id="s5">--</p>
        <p class="caption">Biggest dip over the past 30 days</p>
    </div>
    <div class="number-box">
        <h2>Recent Grade</h2>
        <p class="number" id="s6">--</p>
        <p class="caption">Non-cumulative grade over the past 30 days</p>
    </div>
    </div>

    <div id="myHistogram"></div>
    
    <div id="GoalProgressContainer"></div>
    <div id="RecentScoresContainer"></div>
    
    <br>

    <button onclick="getInsights()">See Overall Performance Analysis</button>
    <div id="insightContainer"></div>

  </main>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script src="/static/util.js"></script>
  <script src="/static/user_data.js"></script>
  <script src="/static/notifications.js" type="module"></script>
  <script src="static/GA.js"></script>
</body>

</html>