{% extends "darkThemeTemplate.html" %}

<!-- title block -->
{% block title %}
<title>SciWeb | League</title>
{% endblock %}

<!-- css block -->
{% block css %}
<link rel="stylesheet" href="/static/League.css">
{% endblock %}

<!-- content block -->
{% block content %}

  <div id="classimgcontainer"></div>
  <div id="head">
    <h1>{{ league_name }} League</h1>
    <button id="joinBtn">Join League</button>
    <h3 id="description"></h3>
    <div id="user-list"></div>
    <div id="assignmentList"></div>
    
    <br>
    </div>
    </div>
    <!-- create input image upload element with a label "🖼️" -->
    <input type="file" id="imgupload" style="display: none;">
    <label for="imgupload" id="uploadLabel">🖼️</label>

    <!-- create color input with paint emoji label -->
    <label for="color" id="colorLabel">🎨</label>
    <input type="color" id="color" value="#000000" style="display: none;">
    <button id="savecolor" style="display: none;">Save Color</button>

    <br>
    <div class="graphcontainer">
      <h1>Grades Over Time</h1>
      <canvas id="myChart"></canvas>
  </div>
    <br>
    <div class="leaderboard" id="GPAlb">
      <h1>GPA Leaderboard</h1>
      <table>
          <thead>
              <tr>
                  <th>Place</th>
                  <th>Name</th>
                  <th>Score</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>🥇 1</td>
                  <td>--</td>
                  <td>--</td>
              </tr>
              <tr>
                  <td>🥈 2</td>
                  <td>--</td>
                  <td>--</td>
              </tr>
              <tr>
                  <td>🥉 3</td>
                  <td>--</td>
                  <td>--</td>
              </tr>
              <tr>
                  <td>4</td>
                  <td>--</td>
                  <td>--</td>
              </tr>
              <!-- Add more rows as needed -->
          </tbody>
      </table>
  </div>
  <br><br>
  <div class="leaderboard" id="RIlb">
    <h1>Recent Improvement Leaderboard</h1>
    <table>
        <thead>
            <tr>
                <th>Place</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>🥇 1</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>🥈 2</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>🥉 3</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>4</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>
<br><br>
<div class="leaderboard" id="Glb">
  <h1>Goals Leaderboard</h1>
  <table>
      <thead>
          <tr>
              <th>Place</th>
              <th>Name</th>
              <th>Score</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>🥇 1</td>
              <td>--</td>
              <td>--</td>
          </tr>
          <tr>
              <td>🥈 2</td>
              <td>--</td>
              <td>--</td>
          </tr>
          <tr>
              <td>🥉 3</td>
              <td>--</td>
              <td>--</td>
          </tr>
          <tr>
              <td>4</td>
              <td>--</td>
              <td>--</td>
          </tr>
          <!-- Add more rows as needed -->
      </tbody>
  </table>
</div>

  
  
  <br><br>
  
  <div id="chat-box">
    <button id="refresh-chat">🔄</button>
    <ul id="message-list"></ul>
    <div id="image-container"></div>
    <div id="input-container">
      <input type="text" id="message-input" placeholder="Type your message...">
      <button id="clear">❌</button>
      <button id="send-button">Send</button>
      <input type="file" id="upload" style="display: none;">
      <label for="upload" id="uploadLabel">📁</label>
      
    </div>
{% endblock %}

<!-- js block -->
{% block js %}
<script src="/static/League.js"></script>
{% endblock %}
