{% extends "darkThemeTemplate.html" %}

<!-- title block -->
{% block title %}
<title>SciWeb | Leagues</title>
{% endblock %}

<!-- css block -->
{% block css %}
<link rel="stylesheet" href="/static/Leagues.css">
{% endblock %}

<!-- content block -->
{% block content %}
    <h1>My Leagues</h1>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash-message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div id="leagueList"></div>
    
    <br>
    <button id="createLeague">Create League</button>
    <form id="leagueForm" class="hidden">
        <!-- name -->
        <label for="leagueName">League Name:</label>
        <input type="text" id="leagueName" name="leagueName"><br>
        <!-- activities(clickable cards) -->
        <label for="activities">Activities:</label>
        <div id="activityOptions">
            <button type="button" class="activity-card" data-id="GOTC">
                <span class="activity-name">Grades over time Chart</span>
                <span class="select-indicator"></span>
            </button>
            <button type="button" class="activity-card" data-id="GPAlb">
                <span class="activity-name">GPA leaderboard</span>
                <span class="select-indicator"></span>
            </button>
            <button type="button" class="activity-card" data-id="RIlb">
                <span class="activity-name">Recent Improvement Leaderboard</span>
                <span class="select-indicator"></span>
            </button>
            <button type="button" class="activity-card" data-id="Glb">
                <span class="activity-name">Goals Leaderboard</span>
                <span class="select-indicator"></span>
            </button>
            <button type="button" class="activity-card" data-id="RAS">
                <span class="activity-name">Recent Assessment Share</span>
                <span class="select-indicator"></span>
            </button>
            <button type="button" class="activity-card" data-id="SS">
                <span class="activity-name">Stat Share</span>
                <span class="select-indicator"></span>
            </button>
            <button type="button" class="activity-card" data-id="R">
                <span class="activity-name">Reactions</span>
                <span class="select-indicator"></span>
            </button>
        </div>
        <!-- add users -->
        <label for="addUsers">Add Users:</label>
        <input type="text" id="addUsers" name="addUsers">
        <div id="userList"></div>
        <br>
      <input type="submit" value="Submit" id="submit">
  </form>
  <br>
  <br>
  </main>
{% endblock %}

<!-- js block -->
{% block js %}
<script src="/static/Leagues.js"></script>
{% endblock %}

</html>