{% extends "darkThemeTemplate.html" %}

<!-- title block -->
{% block title %}
<title>SciWeb | Login</title>
{% endblock %}

<!-- css block -->
{% block css %}
<link rel="stylesheet" href="/static/LoginPage.css">
{% endblock %}

<!-- content block -->
{% block content %}
  <div id="logged-in-popup" style="display: none;" class="popup">
    <p>You're already logged in!</p>
    <a href="/" class="button primary">Go to Dashboard</a>
  </div>

  <form id="login-form">
    <div id="toggleSlider" class="slider" onclick="toggleSlider()">
      <span id="sliderText" class="slider-text">Log-In</span>
    </div>
    <br>

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="fname" placeholder="Enter your first name" autocomplete="given-name" required>

    <label for="lname" id="lnamelabel" style="display: none;">Last Name</label>
    <input type="text" id="lname" name="lname" placeholder="Enter your last name" autocomplete="family-name" style="display: none;">

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter your password" autocomplete="current-password" required>

    <label for="grade" id="gradelabel" style="display: none;">Grade</label>
    <input type="number" id="grade" name="grade" placeholder="Enter your grade" style="display: none;">

    <label for="email" id="emaillabel" style="display: none;">Email</label>
    <input type="email" id="email" name="email" placeholder="Enter your email" style="display: none;">
    <br>
    <div id="button-wrapper">
    <input type="submit" value="Log In" id="submit">
  </div>
  </form>
  <p style="text-align: center;">By creating an account, you agree to our <a target="_blank" href="/Terms">Terms and Conditions</a></p>
  <hr />
  <h3>If you're just giving SciWeb a try, you can also <button onclick="demo()" class="button primary">Try Demo Account</button></h3>
</div>
{% endblock %}

<!-- js block -->
{% block js %}
<script src="/static/Loginscript.js"></script>
{% endblock %}

