<!DOCTYPE html>
<html>

<head>
  <title>SciWeb Login</title>
  <link rel="icon" href="static/favicon.png" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/LoginPage.css">
  <link rel="stylesheet" href="/static/navbar.css">



</head>

<body>
  <ul class="navbar">
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <button class="dropdown-btn">Grades</button>
      <div class="dropdown-content">
        <a href="/EnterGrades">Enter</a>
        <a href="/GradeAnalysis">Analyse</a>
        <a href="/GradeAnalysis">Goals</a>
        
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Study</button>
      <div class="dropdown-content">
        <a href="#">Create</a>
        <a href="#">Study</a>
        <a href="#">Predict</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Connect</button>
      <div class="dropdown-content">
        <a href="#">Classes</a>
        <a href="#">Assignments</a>
        <a href="#">Leagues</a>
        <a href="#">Questions</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">About</button>
      <div class="dropdown-content">
        <a href="#">Pitch</a>
        <a href="#">Getting Started</a>
        
      </div>
    </li>
    <li><a href="/Login" id="profile">Login</a></li>
  </ul>
  <form id="login-form">
    <h1>Login</h1>

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="fname" placeholder="Enter your first name" required>

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lname" placeholder="Enter your last name" required>

    <label for="email">OSIS</label>
    <input type="number" id="osis" name="osis" placeholder="Enter your OSIS" required>

    <label for="grade">Grade</label>
    <input type="number" id="grade" name="grade" placeholder="Enter your grade" required>

    <input type="submit" value="Submit">
  </form>
  <script src="/static/IP.js"></script>
  <script src="/static/user_data.js"></script>
  <script src="static/Loginscript.js"></script>
  
</body>

</html>