{% extends "darkThemeTemplate.html" %}

<!-- title block -->
{% block title %}
<title>SciWeb | Notebook</title>
{% endblock %}

<!-- css block -->
{% block css %}
<link rel="stylesheet" href="/static/notebook.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}

<!-- content block -->
{% block content %}
<button id="notebook-toggle-sidebar"><i class="fas fa-bars"></i></button>
<div id="sidebar">
    <!-- Classes will be dynamically added here -->
</div>
<div id="content">
    <div id="content-area">
        <!-- Worksheet content will be dynamically added here -->
    </div>
</div>
{% endblock %}

<!-- js block -->
{% block js %}
<script>
window.MathJax = {
    tex: {
        inlineMath: [['\\(', '\\)']],
        displayMath: [['\\[', '\\]']],
        processEscapes: true
    },
    svg: {
        fontCache: 'global'
    },
    startup: {
        typeset: false
    }
};
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script src="/static/notebook.js"></script>
{% endblock %}
