{% extends "darkThemeTemplate.html" %}

<!-- title block -->
{% block title %}
<title>SciWeb | Notebook</title>
{% endblock %}

<!-- css block -->
{% block css %}
<link rel="stylesheet" href="/static/Notebook.css">
{% endblock %}

<!-- content block -->
{% block content %}
<button id="toggle-sidebar">Toggle Sidebar</button>
<div id="sidebar">
    <!-- Classes will be dynamically added here -->
</div>
  <div id="content">
      <div id="content-area">
          <!-- Worksheet content will be dynamically added here -->
      </div>
  </div>
</div>
</div>
{% endblock %}

<!-- js block -->
{% block js %}
<script src="/static/Notebook.js"></script>
{% endblock %}
