<!DOCTYPE html>
<html>

<head>
  <title>{{ class_name }} Notebook</title>
  
  <link rel="icon" href="https://sciweb.c26pn.repl.co/static/media/favicon.png" type="image/x-icon">
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/notebook.css">
  <link rel="stylesheet" href="/static/navbar.css">
    
    
</head>
<body>
  <ul class="navbar">
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <button class="dropdown-btn">Achieve</button>
      <div class="dropdown-content">
        <a href="/EnterGrades">Enter</a>
        <a href="/GradeAnalysis">Analyse</a>
        <a href="/GradeAnalysis">Goals</a>
        
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Study</button>
      <div class="dropdown-content">
        <a href="#">Write</a>
        <a href="#">Study</a>
        <a href="#">Predict</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Connect</button>
      <div class="dropdown-content">
        <a href="/Classes">Classes</a>
        <a href="/Assignments">Assignments</a>
        <a href="#">Leagues</a>
        <a href="#">Questions</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">About</button>
      <div class="dropdown-content">
        <a href="/Pitch">Pitch</a>
        <a href="#">Getting Started</a>
        
      </div>
    </li>
    <li><a href="/Login" id="profile">Login</a></li>
  </ul>
  <div id="loadingWheel"></div>
  <h1>{{ class_name }} Notebook</h1>
  <button id="create_section" class='btn'>New Section</button>
  <div id="tabs"></div>
  
  <button id='save' onclick="postNotebook()">Save</button>
  <div id="insights_container"></div>
  <br><br>
  
  <script src="/static/user_data.js"></script>
  <script src="/static/notebook.js"></script>
  
</body>
</html>