<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/Pitch.css">
  <link rel="stylesheet" href="static/navbar.css">
  <title>SciWeb Pitch</title>
  <link rel="icon" href="static/media/favicon.png" type="image/x-icon">
  
</head>
<body>
  <ul class="navbar">
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <button class="dropdown-btn">Achieve</button>
      <div class="dropdown-content">
        <a href="/EnterGrades">Enter</a>
        <a href="/GradeAnalysis">Analyse</a>
        <a href="/Goals">Goals</a>
        
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Study</button>
      <div class="dropdown-content">
        <a href="#">Write</a>
        <a href="/Study">Study</a>
        <a href="#">Predict</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Connect</button>
      <div class="dropdown-content">
        <a href="/Classes">Classes</a>
        <a href="/Assignments">Assignments</a>
        <a href="#">Leagues</a>
        <a href="#">Questions</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">About</button>
      <div class="dropdown-content">
        <a href="/Pitch">Pitch</a>
        <a href="/GetStart">Getting Started</a>
        
      </div>
    </li>
    <li><a href="/Login" id="profile">Login</a></li>
  </ul>
  <div id="loadingWheel"></div>
  <main>
  <img src="static/media/PitchBg.png"id="dimImage" class="dim-on-scroll" alt="Scrollable Image">
  <!-- create a div element to allow elements to be placed on top of the image -->
  <div class="image-container">
  <img src="static/media/PitchToC.jpg" id="Toc">
  <div class="overlay-content">
    <div class="button-row">
    <button id="b1">Mission</button>
    <button id="b2">About</button>
    <button id="b3">Join</button>
  </div>
  <div class="button-row">
    <button id="b4">Resources</button>
    <button id="b5">Our Team</button>
    <button id="b6">FAQ</button>
    </div>
  </div>
</div>
  <br>
<h1 id="msn">Our Mission</h1>
<h2 id="msnText"></h2>

<button id="GetStarted">Get Started Now</button>
<h1 id="abt">About Us</h1>
<p>
  SciWeb is an innovative club at Bronx Science dedicated<br>
  to enhancing the academic experience through a unique, <br>
  student-developed web platform. It offers a collaborative <br>
  environment where students can improve their grades, gain<br>
  valuable coding and web development experience, and participate<br>
  in a community-driven project. By focusing on peer collaboration,<br>
  cutting-edge AI applications, and a commitment to educational<br>
  improvement, SciWeb embodies a new era of learning and community<br>
  service at Bronx Science.
</p>
<br>


<video id="swbVid" width="640" height="360" controls>
    <source src="static/media/SciWeb_Video.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<br>
<h1 id="join">Join SciWeb</h1>
<p>We're always looking for new members to help design, code, and market <br>
   the website! Joining SciWeb offers an unparalleled opportunity to be <br>
   at the forefront of academic innovation, providing a platform for <br>
   students to collaborate, innovate, and improve their academic journey.<br>
   Members gain hands-on experience in tech development, from coding and <br>
   web development to AI implementation, all while making a tangible <br>
   difference in their community's educational experience. By being part <br>
   of SciWeb, you'll not only enhance your own learning and organizational <br>
   skills but also help others achieve their academic goals, fostering a <br>
   vibrant community of learners and innovators. It's a chance to be part<br>
   of something transformative, where your contributions lead to stress<br>
   reduction, academic improvement, and a new era of peer collaboration and <br>
   support.</p>
   <p>To join, fill out our <a href="https://forms.gle/A5TRBcXfYX8PUT7U7" target="_blank">Interest Form</a>, and join our <a href="https://discord.gg/gX2Mnene" target="_blank">Discord Server</a>!</p>

<br>
<h1 id="res">Resources</h1>

<h3>Check Out all of our videos on our youtube channel, <a href="https://www.youtube.com/channel/UCbR3QtSEkwO-lgjpIgiB2Ow" target="_blank">@bxsciweb</a>!</h3>
<br>
<h3>Questions? Ask our new <a href="https://chat.openai.com/g/g-ShQYVVzDV-sciweb-guide" target="_blank">SciWeb AI Chatbot</a>, or <a href="mailto:nieuwerbp@bxscience.edu" target="_blank">reach out to us</a></h3>
<br>
<h3>For code, diagrams, and more, see this <a href="https://docs.google.com/document/d/1MAhJdsgL3OMmnUPeSmXqRKPQUzmWDHYcXxyivXTXowo/edit?usp=sharing" target="_blank">doc</a></h3>
<br>
<h3>See the presentation below for more info:</h3>
  
  <div class="presentation-container">
    <iframe id="prez" style="visibility: hidden;" src="https://docs.google.com/presentation/d/e/2PACX-1vTWCGLfCnwBIwKb5GJ4hHSeBTaHKaJAxZZchbbV1BVxx2NYdFrBF7s-5KvbXbhl95vlLPsNFnGwRoPr/embed?start=true&loop=false&delayms=3000" frameborder="0" width="800" height="600" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<h1 id="team">Our Team</h1>
<h3>Paul Nieuwerburgh - Co-Founder and President</h3>
<p>Paul started working on the code for the SciWeb website in the spring of 2023. <br>
   In the fall of 2023 he began pitching SciWeb to BxSci students to gain support <br>
   to start SciWeb as a club. Since then, he's overseen the push for SciWeb to expand <br>
   in the BxSci community as an initiative. He currently works on coding the website,<br>
   organizing meetings, and expanding SciWeb</p>
   <br>
   <h3> Aaron Krasinski - Co-Founder and Vice President </h3>
   <p>
    Aaron has been part of SciWeb since the fall of 2023 and has been a key part of <br>
    our marketing effort in particular, gaining support for SciWeb from an early stage. <br>
    He currently heads the conceptualization team, which is responsible for the design <br>
    and function of the website.
   </p>
    <br>
    <h3>Pramit Acharjee - Co-Founder and Head of Marketing</h3>
    <p>
      Pramit joined SciWeb in 2023 quickly turned SciWeb from a small-scale operation<br>
      into a thriving initative with almost 20 active members. He currently manages the<br>
      marketing department, which is resposible for promoting SciWeb on Social Media and<br>
      elsewhere.
    </p>
    <br>
    <p>others still to come...</p>
</main>
<script src="/static/Pitch.js"></script>
<script src="/static/user_data.js"></script>

</body>
</html>
