<!DOCTYPE html>
<html>

<head>
  <title>Profile</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/Profile.css">



</head>

<body>
  <ul class="navbar">
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <button class="dropdown-btn">Grades</button>
      <div class="dropdown-content">
        <a href="/EnterGrades">Enter</a>
        <a href="/GradeAnalysis">Analyse</a>
        <a href="/GradeAnalysis">Goals</a>
        
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Study</button>
      <div class="dropdown-content">
        <a href="#">Create</a>
        <a href="#">Study</a>
        <a href="#">Predict</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Connect</button>
      <div class="dropdown-content">
        <a href="#">Classes</a>
        <a href="#">Assignments</a>
        <a href="#">Leagues</a>
        <a href="#">Questions</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">About</button>
      <div class="dropdown-content">
        <a href="#">Pitch</a>
        <a href="#">Getting Started</a>
        
      </div>
    </li>
    <li><a href="/Login" id="Pslink">Login</a></li>
  </ul>
  <h1>Profile Page</h1>
  <script src="static/Profile.js"></script>
</body>
</html>