
<!DOCTYPE HTML>
<html>
	<head>
		<title>Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/PitchFiles/assets/css/main.css" />
        <link rel="icon" href="static/media/favicon.png" type="image/x-icon">
		<noscript><link rel="stylesheet" href="/static/PitchFiles/assets/css/noscript.css" /></noscript>
        <link rel="stylesheet" href="/static/profile.css">
        <link rel="manifest" href="/static/manifest.json">
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
            <header id="header">
                <nav id="nav">
                    <ul>
                      <li><a href="/">Home</a></li>
                      <li>
                        <a>Achieve</a>
                        <ul>
                          <li><a href="/EnterGrades">Enter</a></li>
                          <li><a href="/GradeAnalysis">Analyse</a></li>
                          <li><a href="/Goals">Goals</a></li>
                        </ul>
                      </li>
                      <li>
                        <a>Study</a>
                        <ul>
                          <li><a href="/StudyLevels">Levels</a></li>
                          <li><a href="/StudyBot">StudyBot</a></li>
                          <li><a href="/Evaluate">Evaluate</a></li>
                          <li><a href="/Battle">Battle</a></li>
                        </ul>
                      </li>
                      <li>
                        <a>Connect</a>
                        <ul>
                          <li><a href="/Classes">Classes</a></li>
                          <li><a href="/Assignments">Assignments</a></li>
                          <li><a href="/Leagues">Leagues</a></li>
                          <li><a href="#">Questions</a></li>
                        </ul>
                      </li>
                      <li>
                        <a>About</a>
                        <ul>
                          <li><a href="/Pitch">Pitch</a></li>
                          <li><a href="/GetStart">Getting Started</a></li>
                        </ul>
                      </li>
                      <li><a href="/Login" class="button primary" id="profile">Login</a></li>
                    </ul>
                  </nav>
            </header>
            <div id="main" class="wrapper style1">
                <div class="container">
                    <div id="notification-container"></div>
                    <div id="loadingWheel"></div>
                    <img id="profilePicturePreview" alt="Profile Preview" />
                    <label id="pencil" for="profilePictureInput" class="custom-file-upload">
                      ✏️
                    </label>
                    <input type="file" id="profilePictureInput" style="display: none;" accept="image/*" />
                    
                    <div class="profile-container">
                      <div class="profile-field">
                        <div class="profile-label">First Name:</div>
                        <div class="profile-input" id="first-name-text"></div>
                        <input class="profile-user-input" id="first-name-input"></input>
                        
                        <button class="profile-edit-button" id="first-name_edit" onclick="editField('first-name')">Edit</button>
                        <button class="profile-submit-button" id="first-name_submit" onclick="submitField('first-name')">Submit</button>
                      </div>
                      
                      <div class="profile-field">
                        <div class="profile-label">Last Name:</div>
                        <div class="profile-input" id="last-name-text"></div>
                        <input class="profile-user-input" id="last-name-input"></input>
                        
                        <button class="profile-edit-button" id="last-name_edit" onclick="editField('last-name')">Edit</button>
                        <button class="profile-submit-button" id="last-name_submit" onclick="submitField('last-name')">Submit</button>
                      </div>
                      
                      <div class="profile-field">
                        <div class="profile-label">Password:</div>
                        <div class="profile-input" id="password-text"></div>
                        <input class="profile-user-input" id="password-input"></input>
                        
                        <button class="profile-edit-button" id="password_edit" onclick="editField('password')">Edit</button>
                        <button class="profile-submit-button" id="password_submit" onclick="submitField('password')">Submit</button>
                      </div>
                      
                      <div class="profile-field">
                        <div class="profile-label">Grade:</div>
                        <div class="profile-input" id="grade-text"></div>
                        <input class="profile-user-input" id="grade-input"></input>
                        
                        <button class="profile-edit-button" id="grade_edit" onclick="editField('grade')">Edit</button>
                        <button class="profile-submit-button" id="grade_submit" onclick="submitField('grade')">Submit</button>
                      </div>
                    </div>
                </div>
            </div>
            <br>
  <h3>Friends</h3>
  <div id="friendsList">
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'friends')">Friends</button>
  <button class="tablinks" onclick="openTab(event, 'YourInvites')">Your Invites</button>
  <button class="tablinks" onclick="openTab(event, 'Requests')">Requests</button>
</div>

<div id="friends" class="tabcontent">
  <p>Friends</p>
  <!-- Add your content for Tab 1 here -->
</div>

<div id="YourInvites" class="tabcontent">
  <p>Pending Invites</p>
  <!-- Search Bar for users -->
  <input type="text" id="search-bar" placeholder="Search for users..">
  <div id="search-results"></div>
  <!-- Add your content for Tab 2 here -->
</div>

<div id="Requests" class="tabcontent">
  <p>Requests</p>
  <!-- Add your content for Tab 3 here -->
</div>
    
  </div>
  <br>
  <h3>Public Profile</h3>
  <p>Profile Pic:</p>
  
  <!-- Paragraph-length input field for about me section -->
  <p>About Me:</p>
  <textarea id="aboutMeInput" rows="4" cols="50"></textarea>

  <p>My Hobbies, Clubs, and Extracurriculars:</p>
  <textarea id="hobbiesInput" rows="4" cols="50"></textarea>

  <p>My Goals:</p>
  <textarea id="goalsInput" rows="4" cols="50"></textarea>

  <!-- Make checkboxes for "show Classes" and "Show Friends" -->
  <input type="checkbox" id="showClassesInput" />
  <label for="showClassesInput">Show Classes</label>

  <input type="checkbox" id="showFriendsInput" />
  <label for="showFriendsInput">Show Friends</label>

  <!-- Save button for public profile -->
  <button id="savePublicProfileButton" onclick="savePubProf()">Save</button>
  <br><br>
  <a id="logout" href="/Login" class="button">Sign into a different account</a>


		<!-- Scripts -->
        <script src="/static/util.js"></script>
			<script src="/static/PitchFiles/assets/js/jquery.min.js"></script>
			<script src="/static/PitchFiles/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/PitchFiles/assets/js/jquery.dropotron.min.js"></script>
			<script src="/static/PitchFiles/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/PitchFiles/assets/js/browser.min.js"></script>
			<script src="/static/PitchFiles/assets/js/breakpoints.min.js"></script>
			<script src="/static/PitchFiles/assets/js/util.js"></script>
			<script src="/static/PitchFiles/assets/js/main.js"></script>
	<script src="/static/profile.js"></script>
	<script src="/static/user_data.js"></script>
	<script type="module" src="/static/notifications.js"></script>

	</body>
</html>
  