<!DOCTYPE html>
<html>

<head>
  <title>SciWeb Profile</title>
  <link rel="icon" href="static/favicon.png" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/navbar.css">
  <link rel="stylesheet" href="/static/profile.css">



</head>

<body>
  <ul class="navbar">
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <button class="dropdown-btn">Grades</button>
      <div class="dropdown-content">
        <a href="/EnterGrades">Enter</a>
        <a href="/GradeAnalysis">Analyse</a>
        <a href="/GradeAnalysis">Goals</a>
        
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Study</button>
      <div class="dropdown-content">
        <a href="#">Create</a>
        <a href="#">Study</a>
        <a href="#">Predict</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">Connect</button>
      <div class="dropdown-content">
        <a href="/Classes">Classes</a>
        <a href="/Assignments">Assignments</a>
        <a href="#">Leagues</a>
        <a href="#">Questions</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="dropdown-btn">About</button>
      <div class="dropdown-content">
        <a href="/Pitch">Pitch</a>
        <a href="#">Getting Started</a>
        
      </div>
    </li>
    <li><a href="/Login" id="profile">Login</a></li>
  </ul>
  <h1>Profile Page</h1>
  <div class="profile-container">
    <div class="profile-field">

      
      <div class="profile-label">First Name:</div>
      <div class="profile-input" id="first-name-text"></div>
      <input class="profile-user-input" id="first-name-input"></input>
      
      <button class="profile-edit-button" id="first-name_edit" onclick="editField('first-name')">Edit</button>
      <button class="profile-submit-button" id="first-name_submit" onclick="submitField('first-name')">Submit</button>
    </div>
    
    <div class="profile-field">
      <div class="profile-label">Last Name:</div>
      <div class="profile-input" id="last-name-text"></div>
      <input class="profile-user-input" id="last-name-input"></input>
      
      <button class="profile-edit-button" id="last-name_edit" onclick="editField('last-name')">Edit</button>
      <button class="profile-submit-button" id="last-name_submit" onclick="submitField('last-name')">Submit</button>
    </div>
    
    <div class="profile-field">
      <div class="profile-label">OSIS:</div>
      <div class="profile-input" id="osis-text"></div>
      <input class="profile-user-input" id="osis-input"></input>
      
      <button class="profile-edit-button" id="osis_edit" onclick="editField('osis')">Edit</button>
      <button class="profile-submit-button" id="osis_submit" onclick="submitField('osis')">Submit</button>
    </div>
    
    <div class="profile-field">
      <div class="profile-label">Grade:</div>
      <div class="profile-input" id="grade-text"></div>
      <input class="profile-user-input" id="grade-input"></input>
      
      <button class="profile-edit-button" id="grade_edit" onclick="editField('grade')">Edit</button>
      <button class="profile-submit-button" id="grade_submit" onclick="submitField('grade')">Submit</button>
    </div>
  </div>
  
  <script src="/static/user_data.js"></script>
  <script src="/static/profile.js"></script>
</body>
</html>