{% extends "darkThemeTemplate.html" %}

<!-- title block -->
{% block title %}
<title>SciWeb | Terms and Conditions</title>
{% endblock %}

<!-- content block -->
{% block content %}
    <section>
        <h1>Terms and Conditions</h1>
        <ol>
          <li>These rules are not yet in effect. Do not enter any real data into the platform, or do so at your own risk. These rules will take effect once we officially launch the website.</li>
          <li>Statement of Purpose: SciWeb is a not-for-profit platform offering tools with the sole intention of benefitting the user. We declare that SciWeb has no ulterior motives for the website
          </li>
          <li>All SciWeb platforms and servers are opt-in, and by using them, the user agrees to the following terms and conditions</li>
          <li>SciWeb will not sell, share, or distribute user data outside of the initiative. Proper precautions shall be taken to protect user data.</li>
          <li>Furthermore, all user data will be stored in a secure database, with only the president of SciWeb having access to it</li>
          <li>The SciWeb president, Paul Nieuwerburgh, declares that no individual data points, scores, or users will be accessed</li>
          <li>No data belonging to users will be accessible to other users on the platform, without the explicit permission of that user</li>
          <li>User data will not be used to test or develop the website</li>
          <li>Users reserve the right to delete any or all of their data from the platform at any time</li>
          <li>By Pulling Grades from Jupiter, the user acknowledges that this data will be stored on the platform until the user deletes it. The user grants permission for SciWeb to access this data</li>
        </ol>
    </section>
{% endblock %}
  